.feed {
    flex: .6;
    margin: 10px 20px;

}

.feed_container {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #fff;
}


.feed_input {
    border: 1px solid lightgrey;

    display: flex;
    padding: 10px 10px 20px;
    border-radius: 30px;
}

.feed_input > form {
    display: flex;
    width: 100%;
}


.feed_input > form > input {
    border: none;
    flex: 1;
    margin-left: 10px;
    outline-width: 0;
    font-weight: 600;
}
.feed_input > form > button {
    display: none
}


.feed_options {
    display: flex;
   justify-content: space-evenly;
}