.headerOption {
    display:flex;
    flex--direction:column;
    align-items: center;
    margin-right: 20px;
    color: grey;
    cursor: pointer;
    transition: all .5s;
}
.headerOption:hover {
    color: #000000
}

.headerOption_icon{
    object-fit: contain;
    height:20px !important;
    width:20px !important;
}
